body {
  font-family: 'Kumbh Sans', sans-serif;
}

.dropdown {
  padding-right: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.theme-color { 
color: orange;
}

.narrative {
  padding-left: 70px;
  padding-top: 175px;
}

main {
    background-color: #fff;
  }

  small 
  
  /* ////////// Lightbox */

  #lightbox {
    display: flex;
    position: relative;
  }
  
  .modal {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  .lb-nav-btns {
    border: 0;
  }
   
  .lb-nav.prev {
    left: 4%;
  }
  
  .lb-nav.next {
    right: 4%;
  }
  
  #img-thumbs {
    display: none;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.7s;
    animation-name: fade;
    animation-duration: 0.7s;
  }

  .attribution {
    font-size: 16px;
  }

  /*cart*/

  #basketContainer {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  .trash {
    padding-left: 15px;
  }

  
  @-webkit-keyframes fade {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }